<% content_for(:title) do %>
About Anatol
<% end %>
<h1>About Me</h1>

<p>I am a co-founder of <a href='http://psychedel.com'>Psychedel</a>. In a past life I was R&D developer in fintech. I live in Andorra. I love mountains and meditation.</p>

<h1>About this blog</h1>

<p>
In it's current incarnation this blog is implemented with a <a href='https://github.com/SamSaffron/blog'>blog plugin</a> from Sam Saffron</a>
</p>

